<!DOCTYPE html>
<html lang="pt-BR">
  <html>
    <head>
      <meta charset="UTF-8" />
      <title>Cadastro</title>

      <link rel="stylesheet" href="/styles/main.css" />
      <link rel="stylesheet" href="/styles/login.css" />
      <link rel="stylesheet" href="/styles/input.css" />
      <link rel="stylesheet" href="/styles/barra.css" />

      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
        rel="stylesheet"
      />
      <meta
        name="viewport"
        content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1"
      />
    </head>

    <body>
      <header>
      <div class="barra-nav-site secao">
        <div class="emp-inf">
          <img src="/img/logo_emp.png" alt="Logo da empresa" class="img-emp" />
          <h3>Beer Point Pizzaria</h3>
        </div>
        <div class="barra-botoes">
        <a>
          <div class="botoes-barra">
            <svg class="svg-barra" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg>
            Perfil
          </div>
        </a>

        <a>
          <div class="botoes-barra">
            <svg class="svg-barra" viewBox="0 0 16 16">
              <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zM11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
              <path d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293 2.354.646zm-.217 1.198l.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118l.137-.274z"/>
            </svg>
            Pedidos
          </div>
        </a>

        <a>
          <div class="botoes-barra">
            <svg class="svg-barra" viewBox="0 0 16 16">
              <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
              <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
            </svg>
            Cardápio
          </div>
        </a>

        <a>
          <div class="botoes-barra">
            <svg class="svg-barra" viewBox="0 0 16 16">
              <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg>
            Promoções
          </div>
        </a>
        </div>

      </div>
      </header>

      <main>
        <div class="secao">
        <form action="" class="formulario">
          <div class="header_pag">
            <div class="secao">
              <h1>Cadastro</h1>
            </div>
          </div>

          <fieldset>
            <div class="input_bloco">
              <label for="nome">Nome completo</label> <br />
              <input id="nome" class="input" autocomplete="name" required />
            </div>
            <div class="input_bloco">
              <label for="email">E-mail</label> <br />
              <input type="email" id="email" class="input" required/><br />
            </div>
            <div class="input_bloco">
              <label for="senha">Senha</label> <br />
              <input type="password" id="senha" class="input" autocomplete="new-password" minlength="8" maxlength="15"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="requisitos abaixo"
               required/><br />
              <div class="requisitos">
                <span for="senha" class="feedback-input">Deve ter 8 caracteres</span> <br>
                <span for="senha" class="">Deve ter uma letra maísucula</span> <br>
                <span for="senha" class="alerta">Deve ter uma letra maísucula</span> <br>

              </div>
            

            </div>
            <div class="input_bloco">
              <label for="senha-confirm">Confirmar senha</label> <br />
              <input type="password" id="senha-confirm" class="input" required/><br />
            </div>
            <div class="input_bloco">
              <label for="numero_tel1">Número telefônico</label> <br />
              <input type="tel" id="numero_tel1" class="input" placeholder="(DDD) 9XXXX-XXXX" minlength="11" maxlength="12" required/><br />
            </div>
            <div class="input_bloco">
              <label for="numero_tel2">Segundo número telefônico (opcional)</label> <br />
              <input type="tel" id="numero_tel2" class="input" placeholder="(DDD) 9XXXX-XXXX"/><br />
            </div>
            <div class="input_bloco">
              <label for="aniversario">Data de nascimento</label> <br />
              <input type="date" id="aniversario" class="input" autocomplete="bday" required/><br />
            </div>
            <div class="input_bloco">
              <label for="genero">Gênero</label> <br />
              <select type="number" id="genero" class="input" required/>

                <option value="masc">Masculino</option>
                <option value="fem">Feminino</option>
                <option value="outro">Outro</option>
              </select> <br />
            </div>
            <div class="input_bloco">
              <label for="CPF">CPF (opcional)</label> <br />
              <input type="number" id="CPF" class="input" minlength="11" maxlength="11"/><br />
            </div>
            <div class="input_bloco">
              <label for="endereco_valor">Endereço</label> <br>
              <input type="input" id="endereco_valor" class="input" autocomplete="street_adress"/> <br>
            </div>
            
            <div class="secao-input input_bloco">
              <div class="secao-filho"> 
                <label for="numero_resi">Número</label> <br>
                <input type="number" min="0" id="numero_resi" class="input" autocomplete="street_adress"/> <br>
              </div>
              <div class="secao-filho">
                <label for="bairro_resi">Bairro</label> <br>
                <!-- mudar por JS -->
                <select id="bairro_resi" class="input" required> <br>
                  <option value="VilaGaucha">Vila Gaúcha</option>
                  <option value="BoaVista">Boa Vista</option>
                </select>
              </div>
            </div>

            <div class="input_bloco">
              <label for="complem_endereco">Complemento</label> <br>
              <input type="input" id="complem_endereco" class="input" autocomplete="street_adress"/> <br>
            </div>

            <button type="submit" class="botao cham">Criar conta</button> <br />
          </fieldset>
          
        </form>
        </div>
      </main>
    </body>
  </html>
</html>
