<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Cardápio</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/cardapios.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1"
    />
  </head>

  <body>
    <header>
      <div class="barrasup">
        <a onclick="window.history.go(-1); return false;">
          <svg role="img" class="backbutton" viewBox="0 0 24 24" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" fill="none"> 
            <title>Voltar a página anterior</title>
            <path d="M9 6l-6 6 6 6"/>
            <path d="M21 12H4"/> <path stroke-linecap="round" d="M3 12h1"/>
          </svg>
        </a>
        <a>
          <svg role="img" class="menubar" viewBox="0 0 24 24" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter"> 
            <title>Fechar menu</title>
             <path d="M6 7L18 7M6 12L18 12M6 17L18 17"/>
          </svg>
        </a>
      </div>
    </header>

    <main>
      <a href="/montadorpizza">
        <div class="secoes">
          <div class="fundo"></div>
          <div class="titulo">
            <h1 class="textocardapio">Pizza</h1>
            <p class="textocardapio">Muito bom!</p>
          </div>
        </div>
      </a>

      <a href="/subcardapio">
        <div class="secoes">
          <div class="fundo"></div>
          <div class="titulo">
            <h1 class="textocardapio">Hambúrguer</h1>
            <p class="textocardapio">Muito bom!</p>
          </div>
        </div>
      </a>
    </main>
  </body>
</html>
