<!DOCTYPE html>
<html lang="pt-BR">

<html>
    <head>
        <meta charset="UTF-8">
        <title>Cardápio</title>
        
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/cardapios.css">

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
        <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1"/>   

        </head>

    <body>
        <div class="containar">
            <nav>
                <div class="barrasup">
                    <a>
                        <img src="/img/svg/hamburger.svg" class="menubar" >
                    </a>
                    <a>
                        <img src="/img/svg/arrow-left.svg" class="backbutton" onclick="window.history.go(-1); return false;">
                    </a>
                </div>
            </nav>

          <main>
            <a href="/montadorpizza">
              <div class="secoes">
                <div class="fundo"></div>
                <h1 class="textocardapio">Pizza</h1>
                <p class="textocardapio">Muito bom!</p>
              </div>
            </a>

            <a href="/subcardapio">
              <div class="secoes">
                <div class="fundo"></div>
                <h1 class="textocardapio">Hambúrguer</h1>
                <p class="textocardapio">Muito bom!</p>
              </div>
            </a>

          </main>
        </div>
    </body>
</html>