<!DOCTYPE html>
<html lang="pt-BR">

<html>
    <head>
        <meta charset="UTF-8">
        <title>Página inicial</title>
        
        <link rel="stylesheet" href="/styles/main.css">

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
        <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1"/>   

        </head>

    <body>
        <div class="containar">
            <nav>
                <div class="barrasup">
                    <a>
                        <img src="/img/svg/hamburger.svg" class="menubar">
                    </a>
                </div>
            </nav>

          
        </div>
    </body>
</html>