<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Página inicial</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/landing.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1"
    />
  </head>

  <body>
    <header>
      <div class="barrasup">
        <a href="/login">
          <img src="/img/svg/hamburger.svg" class="menubar" />
        </a>
      </div>
    </header>

    <main>
      <div class="empresa_dest">
        <img src="/img/logo_emp.png" alt="Logo da empresa" class="logoemp" />
        <h1 class="titulodestaque">Beer Point Pizzaria</h1>
        <p class="statushorario">Aberto</p>
      </div>

      <div class="botaocardapio">
        <button class="botao sub" onclick="location.href = '/cardapio'">
          Ver cardápio
        </button>
      </div>
    </main>

    <footer class="infsemp">
      Pedido minimo: R$20,00
      <br /><br />
      Av. Rio Grande do Sul, 6245 Marechal Cândido Rondon
      <br /><br />
      (45) 99836-8489
    </footer>
  </body>
</html>
