<!DOCTYPE html>
<html lang="pt-BR">

<html>
    <head>
        <meta charset="UTF-8">
        <title>Página inicial</title>
        
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/landing.css">

        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    
        </head>

    <body>
        <nav>
            <div class="barrasup">
                <a>
                    <img src="/img/svg/hamburger.svg" class="menubar">
                </a>
            </div>
        </nav>

        <div class="empresa_dest">
            <img src="/img/logo_emp.png" alt="Logo da empresa" class="logoemp">
            <h1 class="titulo_destaque">Beer Point Pizzaria</h1>
            <p class="statushorario">Aberto</p>

            <div>
            <button class="botaodest">
                Ver cardápio
            </button>
            </div>
        </div>
        
        

        <footer class="infsemp">
            Pedido minimo: R$20,00
            <br><br>
            Av. Rio Grande do Sul, 6245
            Marechal Cândido Rondon
            <br><br>
            (45) 99836-8489
        </footer>
        
    </body>
</html>