<!DOCTYPE html>
<html lang="pt-BR">

<html>
    <head>
        <meta charset="UTF-8">
        <title>Cardápio</title>
        
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/subcardapio.css">

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
        <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1"/>   

        </head>

    <body>
      <nav>
        <div class="containar">
          <div class="barrasup">
            <a>
              <img src="/img/svg/hamburger.svg" class="menubar" >
            </a>
            <a>
              <img src="/img/svg/arrow-left.svg" class="backbutton" onclick="window.history.go(-1); return false;">
            </a>
        </div>
      </nav>

      <main>
        <div class="subnav">
            <a class="selected">
              Refrigerantes
            </a>
            <a class="nonselected">
              Sucos
            </a>
        </div>

        <div class="produtos">
          <ul>
            <li>
              <a src="aaa">
                <div class="produto-lista">
                  <img src="" 
                    class="fotoproduto" 
                    src="" 
                    alt="Imagem do produto" 
                    loading="lazy"
                    onerror="this.src='/img/default.png'"
                  >

                <div class="infsproduto">
                  <span class="nome_prod">Coca-Cola 2lt</span>
                  <span class="desc_prod">Descrição</span>
                </div>
                <div class="preco_num">
                  <div class="numproduto">
                    <img class="botao_dim" src="/img/svg/minus.svg" alt="Diminuir o número de produtos">
                    <span class="numdoproduto_texto">0</span>
                    <img class="botao_add" src="/img/svg/plus.svg" alt="Aumentar o número de produtos">
                  </div>
                  <span class="preco_prod">R$10,00</span>
                </div>
                </div>
              </a>
            </li>
            
            <li>
              <a src="aaa">
                <div class="produto-lista">
                  <img src="" 
                    class="fotoproduto" 
                    src="" 
                    alt="Imagem do produto" 
                    loading="lazy"
                    onerror="this.src='/img/default.png'"
                  >

                <div class="infsproduto">
                  <!-- onerror="this.src='fallback.png'"> -->
                  <span class="nome_prod">Coca-Cola 2lt</span>
                  <span class="desc_prod">Descrição</span>
                </div>
                <div class="preco_num">
                  <div class="numproduto">
                    <img class="botao_dim" src="/img/svg/minus.svg" alt="Diminuir o número de produtos">
                    <span class="numdoproduto_texto">0</span>
                    <img class="botao_add" src="/img/svg/plus.svg" alt="Aumentar o número de produtos">
                  </div>
                  <span class="preco_prod">R$10,00</span>
                </div>
                </div>
              </a>
            </li>

          </ul>
        </div>
      </main>
    </body>
</html>