.empresa_dest{
  width: 100%;
  text-align: center;
  padding-bottom: 3px;
}

.statushorario{
  font: 700 20px Inter;
  color: #048243;
}

.logoemp{
  padding-top: 10px;
  width: 180px;
  border-radius: 50%;  
}

.botaocardapio{
  padding-top: 10px;
  text-align: center;
}

.infsemp{
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

