.secao-input{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.secao-input .secao-filho{
  flex-basis: calc(50% - var(--padding-peq));
}

.secao h1{
  font-size: 25px;
  color: #14142B;
  width: max-content;
  /* border-bottom: 1px solid #14142B; */

  padding-top: var(--padding-grand);
}


.formulario fieldset{
  border: none;
  padding: var(--padding-grand);
}

.formulario .botao{
  width:100%;
  max-width: 500px;
}


.requisitos{
  padding-top: var(--padding-peq);
  padding-left: var(--padding-peq);
}

.input_bloco .secao{
  justify-content: space-between;
}

.feedback-input{
  display: none;  
}

.input:required:invalid + .feedback-input{
  display: inline-block;
}


@media (min-width: 700px) {
  .secao-input{
    padding-left: var(--padding-peq);
    padding-right: var(--padding-peq);
  }
}