.secao h1{
  font-size: 25px;
  color: #14142B;
  width: max-content;
  /* border-bottom: 1px solid #14142B; */

  padding-top: 20px;
}

.formulario{
  text-align: center;
  width: 550px;

  background: #fff;
  border-radius: 5px;
}

.formulario fieldset{
  border: none;
  padding: 20px;
}

.formulario .botao{
  width:100%;
  max-width: 500px;
}


.requisitos{
  padding-top: 5px;
  padding-left: 5px;
}

.input_bloco .secao{
  justify-content: space-between;
}

.feedback-input{
  display: none;  
}

.input:required:invalid + .feedback-input{
  display: inline-block;
}

@media (min-width: 700px) {
  .formulario{
    margin-top: 20px;
    height: min-content;
  }
}