:root {
  --color-background-bar: #343837;
  --color-background-button: #f0f0f0;
  --color-border-button: #c4c4c4;
  --color-sub-bar: #d8d8d8;
  --color-border-input: #7a7a7a;
  --color-background-input: rgba(134, 134, 134, 0.2);
  --color-background-button-flashy: #FF1B1B;
  --color-background-button-off: #000;

  --color-red-action: #FA0000;
  --color-red-calm: #FF1919;

  --color-text: #000;
  --color-text-alert: #ff2d2d;
  --color-text-normal: #333333;

  --size-button-text: 18px;
  --size-titulo-pagina: 45px;
  --size-supertitulo: 30px;
  --size-titulo: 22px;
  --size-descricao: 12px;
  --size-titulo-sec: 16px;

  --size-picture: 88px;
  --size-icons: 32px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  max-width: 100%;

}

body{
  background: #F9F9F9;
}

main {
  margin: 56px auto;
}

a {
  cursor: pointer;
}

li{
  list-style: none;
}

.titulodestaque {
  font-size: var(--size-titulo);
  font-weight: bold;
}

.barrasup {
  position: fixed;
  top: 0;
  overflow: hidden;

  width: 100%;
  height: 56px;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  background-color: var(--color-background-bar);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}
.barrasup svg{
  width: 56px;
  height: 56px;
  stroke: #FFF;
  
  transition: all 0.2s ease-in-out;
}

.barrasup svg:hover{
  stroke:#ea1d2c;
}
.barrasup a {
  cursor: pointer;
}

.secao{
  display: flex;
  justify-content: center;
}
.secao .secao-filho{
  width: 50%;
}

/* BOTOES */
.botao {
  width: 95%;
  max-width: 350px;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
  outline: none;

  transition: all 0.2s ease-in-out;
}
.botao:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botao.cham {
  background-color: var(--color-red-action);
  color: #fff;
  border: none;
}
.botao.cham:active{
  background-color: #fff;
  border: 1px solid var(--color-red-calm);

  font-weight: bold;
  color: var(--color-red-calm);
}

.botao.of { 
  background-color: #fff;
  border: 1px solid var(--color-red-calm);
  color: var(--color-red-calm);
}
.botao.of:active{
  background: var(--color-red-action);
  color: #fff;
}


/* textos */
h1{
  font-size: 25px;
  color:#14142B;
}
.texto-padrao{
  font-size: 14px;
  color: #646464;
}


/* para svg com ações */
/* ==========OTIMIZAR */
.svg-padrao{ 
  stroke: #14142B;
  height: var(--size-icons);
  width: var(--size-icons);
  transition: opacity 0.2s ease-in-out;
  background: none;
}
.svg-acao{ 
  stroke: #FF1919;
  height: var(--size-icons);
  width: var(--size-icons);
  transition: opacity 0.2s ease-in-out;
  background: none;
}

.svg-acao:hover{
  opacity: .5;
}
.svg-padrao:hover{
  opacity: .5;
}

/* ===============ELEMENTOS QUE DEVEM SER CORRIGIDOS========== */
/* algum item desativado */
.desativado { 
  opacity: .4;
  transition: none;
  cursor: initial;
}
.desativado:hover{
  opacity: .4; 
}

.invalidado{
  border: 1.5px solid var(--color-red-action)!important;
}

.alerta{
  color: var(--color-red-calm)!important;
  border-color: var(--color-red-calm)!important;
}

