.montador {
  padding: 43px 82px 0 82px;
  text-align: center;
}

.background-montador-pizza {
  width: 248px;
  border-radius: 50%;
  border: 1px #000 solid;
}

.botoes-montador {
  text-align: center;
}
