.subnav {
  width: 100%;
  height: 34px;
  background-color: var(--color-sub-bar);
  display: flex;
  overflow: auto;
}

.subnav li {
  align-items: center;
  display: flex;
  justify-content: center;
}

.subnav a {
  text-decoration: none;

  font-size: var(--size-titulo);
  font-weight: bold;
  padding-left: 12px;
}

.subnav .selected {
  color: var(--color-text-alert);
}

.subnav .nonselected {
  color: var(--color-text-normal);
}

/* LISTA DE PRODUTOS */
.produtos_secao li {
  padding-top: 5px;

}

li a {
  text-decoration: none;
}

.produto {
  border-bottom: 1px solid var(--color-border-button);
  color: var(--color-text);
  display: flex;
  margin: 0px 5px;
}

.infs_produto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 310px;
  max-width: 70%;
}

.titulo_produto {
  font-size: var(--size-titulo-sec);
}

.descricao {
  font-size: var(--size-descricao);
  max-height: 65px;
}

.produto .botao.cham {
  margin-bottom: 5px;
  text-align: center;
  width: 120px;
  height: 30px;
}

.sobre_produto {
  height: 100%;
  margin-left: 3px;
  text-align: center;
}

.sobre_produto img {
  width: var(--size-picture);
  border-radius: 5px;
}

.preco_produto {
  font-size: 14px;
}

/* EDIÇÃO PRODUTO */
#container-edicao{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
#container-edicao:target{
  opacity: 1;
  pointer-events: auto;
}

.editar-produto{
  display: grid;
  grid-template-areas: 
  'cabecalho'
  'imagem'
  'infs'
  'acoes';
  grid-template-rows: 64px 250px auto auto;

  overflow: auto;
  position: relative;
  width: 100%;
  height: 100%;

  border-radius: 5px;
  background-color: #fff;

}
.editar-produto.sem-img{
  grid-template: 
  "cabecalho"
  "infs"
  "acoes";
  grid-template-rows: 64px auto auto;
}


.barra-edicao{
  grid-area: cabecalho;
  /* position: fixed; */
  width: 100%;

  display: flex;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  height: 64px;
  background: #E4E4E4;
}
.barra-edicao .area-titulo{
  width: 100%;
  text-align: center;
}

.barra-edicao div{
  left: 0;
}

.editar-produto .area-foto-produto{
  grid-area: imagem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.editar-produto .foto-produto{
  max-height: 100%;
  max-width: 100%;
  padding: 5px;
}

.editar-produto .area-infs-edicao{
  grid-area: infs;
  margin-bottom: 15px;
}


.area-titulo-secao{
  height: 50px;
  
  background: var(--color-sub-bar);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0;
}

.lista-opcoes-add li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 0 10px 0;
}

.infs-add{
  width: 100%;
}

.input-radio, .infs-add{
  cursor: pointer;
}
.infs-add .preco_produto{
  font-weight: bold;
  color: var(--color-text-alert);
}

.area-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-radio input{
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

input:checked{
  background-color: red;
}

.sem-borda{
  border: none!important;
}

.area-numero-add{
  display: flex;
  height: 50px;
  width: max-content;
  
  border: 1px solid #FF1919;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}

.area-conclusao-add{
  position: sticky;
  bottom: 0;
  width: 100%;

  grid-area: acoes;
  display: flex;
  justify-content:center;

  border-top: 1px solid #dadce0;
  padding: 5px;

  background: #fff;
}

.area-conclusao-add .botao{
  margin-bottom: 0;
}

.area-conclusao-add .area-numero-add{
  width: 132px;
  max-width: 95%;
}

.area-numero-add .numero-adicionado{
  font-size: var(--size-supertitulo);
}

.area-conclusao-add .botao.cham{
  margin-left: 5px;
  width: 90%;
}

/* PC */
@media (min-width: 700px) {
  .produtos_secao {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    box-sizing: content-box;
  }
  .produto {
    padding-left: 5px;
  }

  .sobre_produto {
    max-width: 100px;
  }

  #container-edicao{
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.33) 7%,
      rgba(0, 0, 0, 0.65) 86%,
      rgba(0, 0, 0, 0.65) 100%
    );
  }
  
  .editar-produto{
    grid-template-areas: 
    'cabecalho cabecalho'
    'imagem infs'
    'imagem acoes';
    grid-template-rows: 64px auto auto;
    grid-template-columns: 1fr 1fr;

    overflow: hidden;
    
    width: 65%;
    max-width: 1100px;
    height: 75%;
    min-height: 400px;
  }
  .editar-produto.editar-produto.sem-img{
    width: 50%;
    max-width:900px;
  }
  .editar-produto form{
    overflow: auto;
  }
  

}
